<%- include('../partials/header') %>  
    <h1>Tips!</h1>
    <div>
        <div>Posted by: <%= user.name %> </div>
        <% countries.trip.forEach(t => { %>
            <div>City: <%= t.city %></div>
            <div>Month: <%= t.month %> </div>
            <div>Restaurant: <%= t.restaurant %> </div>
            <div>Hotel: <%= t.hotel %> </div>
            <div>Tips: <%= t.tip %> </div>
        <% }) %>
    </div>
<%- include('../partials/footer') %> 