<%- include('../partials/header') %>  
    <div class="container-fluid">
      <h1 style="text-align: center;">Travel Tips</h1>
        <% country.trip.forEach(t => { %>
            <div class="row">
                <div class="col-md-4 offset-sm-1">
                    <div class="show-tip">
                        <div>Posted by:&ensp; <%= t.userName %> </div>
                        <div>City:&ensp; <%= t.city %></div>
                        <div>Month:&ensp; <%= t.month %> </div>
                        <div>Restaurant:&ensp; <%= t.restaurant %> </div>
                        <div>Hotel:&ensp; <%= t.hotel %> </div>
                        <div>Tips:&ensp; <%= t.tip %> </div>
                        <div>
                            <% if (user && user._id.equals(t.user)) { %>
                                <form action="/trips/<%= t._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-secondary">DELETE POST</button>
                                    <a type="button" class="btn btn-secondary" href="/trips/<%= t._id %>/edit">EDIT POST</a>
                                </form>
                            <% } %>
                        </div>
                    </div>     
                    <hr></hr>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
        
<%- include('../partials/footer') %> 